* {
    box-sizing: border-box;
}
body {
    background-color: aquamarine;
}
.container {
    background-color: white;
    border-radius: 30px;
    width: 70%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.inner {
    background-color: #e8e8e8;
    width: 90%;
    height: 180px;
    border-radius: 20px;
    margin: 20px auto;
}
.inner-top {
    padding: 20px 0;
}
.inner-top > button {
    border: none;
    border-radius: 10px;
    background-color: aquamarine;
    padding: 0 10px;
    height: 40px;
}
.inner-top > button:hover {
    background-color: lightgreen;
    color: white;
}
.inner-btom {
    display: flex;
    justify-content: center;
    align-items: center;
}
#input_number {
    text-align: center;
    width: 15%;
    height: 40px;
    border: none;
    border-radius: 10px;
    margin-right: 15px;
    font-size: 1.5em;
}

#printf {
    font-size: 2.5em;
}

.result1, .result2 {
    color: green;
}

#modal {
    padding: 50px;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6);
}

#modal > button {
    position: absolute;
    top: 6.5%;
    right: 5%;
    border: none;
    font-size: 4em;
    color: #888;
    background-color: transparent;
}
#modal > h1 {
    text-align: center;
    margin-top: 0;
}
#modal > pre {
    margin-bottom: 0;
}

.dispay-none {
    display: none;
}

@media screen and (max-width:768px) {
    .container {
        width: 90%;
    }
    .container > h1 {
        font-size: 1.5em;
    }
    #input_number {
        width: 25%;
    }
    #printf {
        font-size: 1.5em;
    }    
    #modal {
        width: 80%;
        padding: 10px;
        background-color: #eee;
        transform: translate(-50%,-50%);
        z-index: 1;
        box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.6);
    }
    #modal > h1 {
        font-size: 1em;
    }
    #modal > pre {
        font-size: 0.2em;
        white-space: pre-wrap;
    }
    #modal > button {
        top: 1%;
        right: 1%;
        font-size: 3em;
    }
}